<div class="comnent-body">
    <div class="comnent-author">
        {{ langauthor }}: <big>{{ author }}</big> <b>|</b> <img src="{{ site_url }}/static/frontend/{{ site_temp }}/images/icon-time.gif" alt="" /> <span class="comment-time"> {{ time }}</span>
    </div>
    <div class="comnent-info">
        <table class="wpc_100">
            <tr>
                <td class="com-left">
                    <div class="comnent-avatar">
                        {% if avatar %}
                            <img src="{{ site_url }}{{ avatar }}" alt="">
                        {% endif %}
                    </div>
                    <p>{{ register }}<br /> {{ regdate }}</p>
                    <p>{{ personal }}</p>
                </td>
                <td class="com-right">
                    <div class="comnent-text">
                        {{ text | safe }}
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="clear"></div>
