* {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
	text-decoration: none;
	border: none;
	list-style: none;
	outline: none; 
}

html { 
	background: #f9f9f9;
	position: absolute;
	top: 45%;
	left: 50%;   
}

body {      
	background: #dddddd;
	font: 12px/20px "Helvetica Neue", Arial, sans-serif;
	color: #333333;
	position: absolute;
	top: 46%;
	left: 50%;
	margin: -120px 0 0 -235px;
	width: 450px;  
	
	-webkit-text-shadow: #ffffff 0 1px 0; 
	 -khtml-text-shadow: #ffffff 0 1px 0;
	   -moz-text-shadow: #ffffff 0 1px 0;
	        text-shadow: #ffffff 0 1px 0;
	        
	-webkit-animation-name: pop;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in;  
        	
	   -moz-animation-name: pop;
	   -moz-animation-duration: .5s;
	   -moz-animation-iteration-count: 1;
	   -moz-animation-timing-function: ease-in; 
        	
	   -o-animation-name: pop;
	   -o-animation-duration: .5s;
	   -o-animation-iteration-count: 1;
	   -o-animation-timing-function: ease-in; 
        	   
	        animation-name: pop;
	        animation-duration: .5s;
	        animation-iteration-count: 1;
	        animation-timing-function: ease-in;   	
}

@-webkit-keyframes pop {
	from { -webkit-transform: scale(.1); opacity: 0; }
	85%  { -webkit-transform: scale(1.03); opacity: 1; }
	to   { -webkit-transform: scale(1); }
}

@-moz-keyframes pop {
	from { -moz-transform: scale(.1); opacity: 0; }
	99%  { -moz-transform: scale(1); opacity: 1; }
	to   { -moz-transform: scale(1); }
}

@-o-keyframes pop {
	from { -o-transform: scale(.1); opacity: 0; }
	99%  { -o-transform: scale(1); opacity: 1; }
	to   { -o-transform: scale(1); }
}

@keyframes pop {
	from { transform: scale(.1); opacity: 0; }
	99%  { transform: scale(1); opacity: 1; }
	to   { transform: scale(1); }
}

div { 
        background: #dddddd;  
	margin: 0px; 
        padding: 30px 60px 60px; 
        border-top: 1px solid #f9f9f9;  
        border-bottom: 1px solid #bbbbbb; 
        -webkit-text-shadow: 1px 1px 1px #dde5ee; 
         -khtml-text-shadow: 1px 1px 1px #dde5ee;
           -moz-text-shadow: 1px 1px 1px #dde5ee;
                text-shadow: 1px 1px 1px #f9f9f9;  
}

h1 {   
        background: #2767a8;                   
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#3180d0), to(#1d4d7e));  
	background: -moz-linear-gradient(0% 100% 90deg, #1d4d7e, #3180d0);
        background: -o-linear-gradient(top, #3180d0, #1d4d7e);
        background: -ms-linear-gradient(top, #3180d0, #1d4d7e);
        background: linear-gradient(top, #3180d0, #1d4d7e);  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3180D0', endColorstr='#1D4D7E'); 	
	
        display: block;  
        color: #ffffff;  
        font-size: 20px;  
	position: absolute;
	top: -46px;
	left: 0px; 
	width: 450px; 
	height: 41px; 
	line-height: 43px; 
        z-index: -999; 
        font-weight: normal;
	text-indent: 18px; 
        border-bottom: 5px solid #ff9900;    
        -webkit-text-shadow: 1px 1px 1px #184069; 
         -khtml-text-shadow: 1px 1px 1px #184069;
           -moz-text-shadow: 1px 1px 1px #184069;
                text-shadow: 1px 1px 1px #184069; 
}    

strong {        
        display: block; 
        background: #dcdcdc;
        color: #666666;
        font-size: 11px; 
        font-weight: normal; 
        text-align: center;
	position: absolute;
	bottom: -25px;
	left: 0px;  
	width: 450px; 
	padding: 2px 0px;
        -webkit-text-shadow: 0px 1px 0px #ffffff; 
         -khtml-text-shadow: 0px 1px 0px #ffffff;
           -moz-text-shadow: 0px 1px 0px #ffffff;
	        text-shadow: 0px 1px 0px #ffffff; 
} 
strong i { 
	color: #666666; 
	font-style: normal;
}  
strong a { 
	color: #666666; 
	font-style: normal;
} 
strong a:hover { 
	color: #000000; 
}
div p { 
	color: #b73443; 
	text-align: center;
	text-shadow: none;
	margin-bottom: -18px;
}
 
div p span { 
	color: #b73443; 
        font-weight: bold;
        display: block; 
}
 
div cite { 
	color: #b00; 
        font-style: normal; 
	text-shadow: none;
	text-align: left;
	line-height: 1.4em;
        display: block; 
        clear: both;   
	position: relative;
	top: 49px;
	left: 0px; 
	width: 335px;
	padding: 6px 0 0;
	margin-bottom: 10px; 
        border-top: 1px dashed #aeaeae;  
        animation-name: auth;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;   
}
@keyframes auth {
	from { transition: scale(.1); opacity: 0; }
	99%  { transition: scale(1); opacity: 1; }
	to   { transition: scale(1); }
}
 
form { 
	margin: 0px; 
        display: inline; 
} 
*:focus   { outline: none; }
input, a  { outline: expression(hideFocus = 'true'); outline: none; }

input { 
        background: #ffffff;
        color: #666666; 
        font-size: 1.1em;
        display: inline-block; 
        width: 200px;   
        height: 17px; 
        line-height: 14px;
        padding: 1px 5px 2px; 
        margin: 0px 0px 5px; 
        border: 1px solid #838383; 
        clear: both; 
}
input:focus  { 
        color: #000000; 
        border: 1px solid #838383; 
}
label { 
        width: 100px; 
        display: inline-block; 
}
 
/* Buton Forms */
.blogin {
        color: #333333 !important; 
        display: block;   
	position: absolute;
	top: 91px;
	right: 75px; 
        width: 100px;
	font-family: inherit;  
	height: 27px;
	line-height: 27px;
	margin: 0px;
	overflow: hidden;
	padding: 3px 1.8em;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis; 
        cursor: pointer; 
	        
	background: #d4d4d4;  
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ffffff), to(#bbbbbb)); 
	-webkit-background-clip: padding-box; 
	background: -moz-linear-gradient(0% 100% 90deg, #bbbbbb, #ffffff);
        background: -o-linear-gradient(top, #ffffff, #bbbbbb);
        background: -ms-linear-gradient(top, #ffffff, #bbbbbb);
        background: linear-gradient(top, #ffffff, #bbbbbb);  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BBBBBB'); 
		
	border-top: 1px solid #c7c7c7;
	border-left: 1px solid #c7c7c7; 
	border-right: 1px solid #a0a0a0;
	border-bottom: 1px solid #868686;
	
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); 
	 -khtml-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	   -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	        
	-webkit-box-shadow: inset rgba(255,255,255,0.9) 0px 1px 0px 0px; 
	 -khtml-box-shadow: inset rgba(255,255,255,0.9) 0px 1px 0px 0px;
	   -moz-box-shadow: inset rgba(255,255,255,0.9) 0px 1px 0px 0px;
	     -o-box-shadow: inset rgba(255,255,255,0.9) 0px 1px 0px 0px;   
               	box-shadow: inset rgba(255,255,255,0.9) 0px 1px 0px 0px; 
}

.blogin:active, 
.blogin:focus, 
.blogin:hover      { 
	color: #000000 !important;
        background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#ffffff), to(#bbbbbb));		
        background: -moz-linear-gradient(0% 100% 90deg, #bbbbbb, #ffffff);
        background: -o-linear-gradient(top, #ffffff, #bbbbbb);
        background: -ms-linear-gradient(top, #ffffff, #bbbbbb);
        background: linear-gradient(top, #ffffff, #bbbbbb);  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BBBBBB'); 
		
	border-top: 1px solid #bababa;
	border-left: 1px solid #bababa; 
	border-right: 1px solid #939393;
	border-bottom: 1px solid #797979;
	
	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); 
	 -khtml-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	   -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
	        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); 
	        
	-webkit-box-shadow: rgba(99,99,99,0.2) 1px 1px 3px; 
	 -khtml-box-shadow: rgba(99,99,99,0.2) 1px 1px 3px;
	   -moz-box-shadow: rgba(99,99,99,0.2) 1px 1px 3px;
	     -o-box-shadow: rgba(99,99,99,0.2) 1px 1px 3px; 
               	box-shadow: rgba(99,99,99,0.2) 1px 1px 3px; 
}  
.blogin:active, 
.blogin:focus     { 
	border: 1px solid #666666;
}


